
<header class="topo-site">
  <base href="http://localhost/CharmesEtIntrigues/" />
  <img src="imagens/logo_banner.png" alt="Logo Charmantric" class="logo-site">
  
  <nav class="menu-site">
    <a href="index.html">Home</a>
    <a href="components/exibirLivros.html">Livros</a>
    <a href="components/exibirFilmes.html">Filmes</a>
    <a href="components/exibirSeries.html">Séries</a>
    <a href="components/cadastroLivro.html">Cadastrar Novo Livro</a>
    <a href="static/ollama.html">Fale com a IA</a>
  </nav>
</header>
 